{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Contact</h1>
                    <p class="lead text-white-50 mb-4">Feel free to contact me at any of the links below.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://github.com/jbhumph">GitHub</a>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://www.linkedin.com/in/john-humphrey-697064300/">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}