{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Air Quality Index: Data Viewer</h1>
                    <p class="lead text-white-50 mb-4">Use government Air Quality data from the EPA to visualize air quality in your location over time.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('graph') }}">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('about') }}">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}